body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
}

.pin-card {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h2 {
    margin: 0;
    flex-grow: 1;
}

.close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.pin-display {
    height: 40px;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 3px;
}

.pin-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.pin-button {
    background-color: #333;
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.clear-button {
    background-color: #6c757d;
}

.submit-button {
    background-color: #007bff;
}

@media (max-width: 480px) {
    .pin-card {
        padding: 15px;
    }

    .pin-button {
        padding: 15px;
    }
}