.depth-6-frame-0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
}
.depth-5-frame-0 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.securepass {
  text-decoration: none;
  position: relative;
  line-height: 23px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.depth-3-frame-0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.back-up,
.dashboard,
.security-policies,
.users {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 74px;
}
.back-up,
.security-policies,
.users {
  min-width: 40px;
}
.back-up,
.security-policies {
  min-width: 54px;
  white-space: nowrap;
}
.security-policies {
  min-width: 125px;
}
.depth-5-frame-4 {
  height: 21px;
  width: 1px;
}
.depth-3-frame-1,
.depth-4-frame-01 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.depth-4-frame-01 {
  width: 436px;
  align-items: center;
  justify-content: space-between;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.depth-3-frame-1 {
  width: 1400px;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-sm);
}
.account-circle-icon {
  height: 46px;
  width: 46px;
  position: relative;
}
.depth-2-frame-0 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) 40px var(--padding-2xs);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 0;
  row-gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: var(--background-default-default);
  font-family: var(--font-inter);
}
.users1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.depth-5-frame-01 {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 288px;
}
.add-user {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth-5-frame-11,
.depth-6-frame-01 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.depth-6-frame-01 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.depth-5-frame-11 {
  width: 84px;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-2xs);
  box-sizing: border-box;
  min-width: 84px;
  max-width: 480px;
  text-align: center;
  font-size: var(--font-size-sm);
}
.depth-4-frame-02 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-xl);
}
.depth-9-frame-0,
.search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-0 {
  width: 20px;
  height: 20px;
}
.depth-8-frame-0 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-7-frame-0,
.depth-7-frame-1 {
  border-radius: var(--br-xs) 0 0 var(--br-xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
}
.depth-7-frame-1 {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  height: 48px;
  flex: 1;
  border-radius: 0 var(--br-xs) var(--br-xs) 0;
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-xs) 7px;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: 16px;
  color: var(--color-darkgray-200);
  min-width: 300px;
  max-width: 100%;
}
.depth-4-frame-11,
.depth-5-frame-02,
.depth-6-frame-02 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-6-frame-02 {
  border-radius: var(--br-xs);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 20px;
}
.depth-4-frame-11,
.depth-5-frame-02 {
  flex-direction: column;
}
.depth-5-frame-02 {
  min-width: 160px;
}
.depth-4-frame-11 {
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
}
.name {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth-9-frame-01 {
  width: 129px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi);
  box-sizing: border-box;
}
.depth-9-frame-01,
.depth-9-frame-1,
.depth-9-frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-1 {
  width: 254px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi);
  box-sizing: border-box;
}
.depth-9-frame-2 {
  width: 112px;
}
.depth-9-frame-2,
.depth-9-frame-3,
.depth-9-frame-4 {
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi);
  box-sizing: border-box;
}
.depth-9-frame-3 {
  width: 130px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-4 {
  width: 140px;
  margin-left: 30px;
}
.depth-7-frame-01,
.depth-8-frame-01,
.depth-9-frame-4,
.depth-9-frame-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-5 {
  width: 103px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi);
  box-sizing: border-box;
  /* color: var(--color-darkgray-200); */
  margin-right: 50px;
}
.depth-7-frame-01,
.depth-8-frame-01 {
  align-self: stretch;
}
.depth-8-frame-01 {
  background-color: #1c2126;
  overflow-x: hidden;
  flex-direction: row;
  padding: 0;
}
.depth-7-frame-01 {
  flex-direction: column;
}
.megan-smith {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth-9-frame-02 {
  width: 129px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--background-default-default);
}
.megancompanycom {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-9-frame-11 {
  width: 254px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.admin {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--background-default-default);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth-10-frame-0 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-9xl);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: row;
  min-width: 84px;
  max-width: 480px;
}
.depth-10-frame-0,
.depth-10-frame-01,
.depth-9-frame-21 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.depth-9-frame-21 {
  width: 132px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
  margin-left: -30px;
  margin-right: 30px;
}
.depth-10-frame-01 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-10xl);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: row;
  min-width: 84px;
  max-width: 480px;
}
.depth-9-frame-31 {
  width: 153px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
  margin-left: -40px;
  margin-right: 30px;
}
.depth-10-frame-02,
.depth-9-frame-31,
.depth-9-frame-41,
.depth-9-frame-51 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.depth-10-frame-02 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-18xl);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: row;
  min-width: 84px;
  max-width: 480px;
}
.depth-9-frame-41,
.depth-9-frame-51 {
  width: 176px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.depth-9-frame-51 {
  width: 103px;
  padding: var(--padding-6xl-5) var(--padding-base);
}
.depth-8-frame-02 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.depth-9-frame-03 {
  width: 129px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xl-5) var(--padding-base);
}
.depth-10-frame-03,
.depth-10-frame-04,
.depth-9-frame-03,
.depth-9-frame-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.depth-9-frame-12 {
  width: 254px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xl-5) var(--padding-base);
  color: var(--color-darkgray-200);
}
.depth-10-frame-03,
.depth-10-frame-04 {
  width: 100%;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: row;
  min-width: 84px;
  max-width: 480px;
}
.depth-10-frame-03 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-15xl);
}
.depth-10-frame-04 {
  padding: var(--padding-7xs-5) var(--padding-5xl);
}
.depth-9-frame-32 {
  width: 133px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
  text-align: center;
}
.depth-10-frame-05,
.depth-9-frame-32,
.depth-9-frame-42,
.depth-9-frame-52 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.depth-10-frame-05 {
  width: 100%;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-2xl);
  min-width: 84px;
  max-width: 480px;
}
.depth-9-frame-42,
.depth-9-frame-52 {
  flex-shrink: 0;
  flex-direction: column;
}
.depth-9-frame-42 {
  width: 176px;
  padding: var(--padding-xl) var(--padding-base);
  text-align: center;
}
.depth-9-frame-52 {
  width: 103px;
  padding: var(--padding-6xl-5) var(--padding-base);
  color: var(--color-darkgray-200);
}
.depth-8-frame-1 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  color: var(--background-default-default);
}
.jane-johnson {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 97px;
}
.depth-9-frame-04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  color: var(--background-default-default);
}
.michael-brown {
  position: relative;
  letter-spacing: -0.06px;
  line-height: 21px;
  display: inline-block;
  min-width: 97px;
}
.depth-9-frame-05 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
}
.depth-6-frame-03,
.depth-7-frame-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-11 {
  align-self: stretch;
  color: var(--color-darkgray-200);
}
.depth-6-frame-03 {
  flex: 1;
  max-width: 100%;
}
.depth-4-frame-2,
.depth-5-frame-03 {
  align-self: stretch;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-5-frame-03 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 1px solid #3d4754;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.depth-4-frame-2 {
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--font-size-sm);
}
.depth-2-frame-1,
.depth-3-frame-01,
.depth-4-frame-2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.depth-3-frame-01 {
  width: 1000px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 119px;
  max-width: 960px;
}
.depth-2-frame-1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xl);
  max-width: 100%;
}
.depth-1-frame-0 {
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: var(--background-default-default);
  font-family: var(--font-inter);
}
.depth-0-frame-0,
.depth-1-frame-0,
.galileo-design {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-0-frame-0 {
  flex: 1;
  background-color: var(--color-gray-100);
  flex-direction: column;
  max-width: 100%;
}
.galileo-design {
  width: 100%;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .depth-4-frame-01 {
    display: none;
  }
  .depth-3-frame-1 {
    width: 581px;
  }
}
@media screen and (max-width: 1050px) {
  .users1 {
    font-size: 26px;
    line-height: 32px;
  }
  .depth-3-frame-01 {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .depth-10-frame-0,
  .depth-10-frame-01,
  .depth-10-frame-02,
  .depth-10-frame-03,
  .depth-10-frame-04,
  .depth-10-frame-05,
  .depth-5-frame-11 {
    max-width: 100%;
  }
  .depth-3-frame-01 {
    padding-bottom: 77px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .depth-3-frame-1 {
    gap: var(--gap-base);
  }
  .users1 {
    font-size: 19px;
    line-height: 24px;
  }
}


.back-up:hover,
.dashboard:hover,
.security-policies:hover,
.users:hover{
  /* color: #51a5ff; Change color on hover */
  transform: scale(1.02); /* Slightly scale up the element */
  text-underline-offset: 5px;
  text-decoration: underline;
}

.depth-5-frame-11:hover {
  color: #fff;
  background-color: #6f7173;
  /* box-shadow: 0 0 0 5px #59595a; */
}