.depth-6-frame-0,
.element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-6-frame-0 {
  width: 13px;
  height: 13px;
}
.depth-5-frame-0 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.securepass {
  position: relative;
  line-height: 23px;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
}
.depth-3-frame-0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.home {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.depth-2-frame-2 {
  align-self: stretch;
  border-bottom: 1px solid #e6e8eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) 40px 11px;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.about-securepass {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.depth-6-frame-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.our-mission-is {
  position: relative;
  line-height: 21px;
}
.depth-4-frame-01,
.depth-5-frame-01,
.depth-6-frame-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-1 {
  flex-direction: column;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.depth-4-frame-01,
.depth-5-frame-01 {
  max-width: 100%;
  gap: var(--gap-xs);
}
.depth-5-frame-01 {
  width: 343px;
  flex-direction: column;
  min-width: 288px;
}
.depth-4-frame-01 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-base) 601px var(--padding-base) var(--padding-base);
  box-sizing: border-box;
  font-size: 32px;
}
.company-history {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.depth-4-frame-11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-base) var(--padding-xs);
}
.securepass-is-founded {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.depth-4-frame-2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px var(--padding-base) var(--padding-xs);
  font-size: var(--font-size-base);
}
.depth-7-frame-0 {
  height: 128px;
  width: 128px;
  position: relative;
  border-radius: var(--br-45xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 128px;
}
.dev-sanghavi {
  margin: 0;
  width: 157px;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.depth-7-frame-1,
.depth-8-frame-0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.depth-8-frame-0 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0;
}
.depth-7-frame-1 {
  flex: 1;
  justify-content: center;
  padding: var(--padding-31xl) 0;
}
.depth-4-frame-4,
.depth-5-frame-02,
.depth-6-frame-02 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.depth-6-frame-02 {
  width: 281px;
  align-items: flex-start;
  gap: var(--gap-base);
}
.depth-4-frame-4,
.depth-5-frame-02 {
  box-sizing: border-box;
  max-width: 100%;
}
.depth-5-frame-02 {
  flex: 1;
  align-items: center;
  padding: 0 var(--padding-628xl) 0 0;
  gap: var(--gap-base);
}
.depth-4-frame-4 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-base);
}
.jan-2-2024,
.jane-davis {
  align-self: stretch;
  position: relative;
}
.jane-davis {
  line-height: 24px;
  font-weight: 500;
}
.jan-2-2024 {
  line-height: 21px;
}
.depth-7-frame-11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.depth-9-frame-0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 17px;
}
.depth-8-frame-02 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-6-frame-11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-801xl) 0 0;
  gap: var(--gap-11xs);
}
.depth-5-frame-04 {
  align-self: stretch;
  background-color: var(--color-gray);
  gap: var(--gap-xs);
}
.depth-3-frame-01,
.depth-4-frame-9,
.depth-5-frame-04,
.depth-6-frame-06 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-06 {
  align-self: stretch;
  padding: 0 0 24px;
}
.depth-3-frame-01,
.depth-4-frame-9 {
  overflow: hidden;
}
.depth-4-frame-9 {
  align-self: stretch;
  background-color: var(--color-gray);
  padding: var(--padding-base);
  gap: 32px;
  font-size: var(--font-size-base);
}
.depth-3-frame-01 {
  width: 960px;
  flex-shrink: 0;
  max-width: 960px;
}
.depth-2-frame-1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xl) 33px;
  box-sizing: border-box;
  max-width: 100%;
}
.depth-1-frame-0 {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.depth-0-frame-0,
.depth-1-frame-0,
.galileo-design {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-0-frame-0 {
  flex: 1;
  background-color: var(--color-gray);
  flex-direction: column;
  max-width: 100%;
}
.galileo-design {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .depth-2-frame-1 {
    padding-top: var(--padding-xl);
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .about-securepass {
    font-size: 26px;
    line-height: 32px;
  }
  .depth-4-frame-01 {
    padding-right: 300px;
    box-sizing: border-box;
  }
  .depth-5-frame-02,
  .depth-6-frame-11 {
    padding-right: var(--padding-304xl);
    box-sizing: border-box;
  }
  .depth-6-frame-11 {
    flex-wrap: wrap;
    padding-right: var(--padding-391xl);
  }
  .depth-3-frame-01 {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .depth-4-frame-01 {
    padding-right: 150px;
    box-sizing: border-box;
  }
  .depth-4-frame-9 {
    gap: var(--gap-base);
  }
  .depth-2-frame-1 {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .about-securepass {
    font-size: 19px;
    line-height: 24px;
  }
  .company-history,
  .dev-sanghavi {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .depth-5-frame-02,
  .depth-6-frame-11 {
    padding-right: var(--padding-142xl);
    box-sizing: border-box;
  }
  .depth-6-frame-11 {
    padding-right: var(--padding-186xl);
  }
}



.home{
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and scale */
}

.home:hover{
  /* color: #51a5ff; Change color on hover */
  transform: scale(1.02); /* Slightly scale up the element */
  text-underline-offset: 5px;
  text-decoration: underline;
}


/* New styles for sticky navbar */
.depth-2-frame-2 {
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background and shadow */
}

.depth-2-frame-2.sticky {
  background-color: #121417; /* Background color when sticky */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect when sticky */
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  z-index: 1000; /* Ensure it stays above other content */
}



/* Responsive styles */
@media screen and (max-width: 725px) {
  .home {
      display: none; /* Hide some elements on smaller screens */
  }
  /* Other responsive styles... */
}