.depth-6-frame-09,
.depth-level-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-6-frame-09 {
  width: 13px;
  height: 13px;
}
.depth-5-frame-010 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-4-frame-03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.securepass2 {
  position: relative;
  line-height: 23px;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
}
.depth-3-frame-03 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.home {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.create-an-account,
.depth-2-frame-01 {
  font-family: var(--font-manrope);
  color: var(--background-default-default);
  text-align: left;
}
.depth-2-frame-01 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-21xl) var(--padding-2xs);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.create-an-account {
  margin: 0;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 28px;
  font-weight: 700;
}
.depth-4-frame-04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-base) var(--padding-xs);
}
.your-name {
  width: 448px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--body-strong-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-darkgray-100);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.depth-6-frame-010 {
  width: 448px;
  height: 56px;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  /* padding: var(--padding-base) var(--padding-mini); */
  box-sizing: border-box;
  white-space: nowrap;
}
.depth-4-frame-21,
.depth-5-frame-011,
.depth-6-frame-010 {
  display: flex;
  justify-content: flex-start;
}
.depth-5-frame-011 {
  height: 56px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 160px;
}
.depth-4-frame-21 {
  width: 100%;
  height: 80px;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  min-width: 250px;
  max-width: 480px;
}
.youexamplecom {
  width: 448px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--body-strong-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-darkgray-100);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.depth-6-frame-011 {
  width: 448px;
  height: 56px;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* padding: var(--padding-base) var(--padding-mini); */
  box-sizing: border-box;
}
.you-can-use {
  width: 743px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-family: var(--font-manrope);
  color: var(--color-darkgray-100);
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.depth-4-frame-41 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}
.username,
.you-can-use1 {
  position: relative;
  font-family: var(--font-manrope);
}
.username {
  width: 448px;
  border: 0;
  outline: 0;
  font-size: var(--body-strong-size);
  background-color: transparent;
  height: 24px;
  line-height: 24px;
  color: var(--color-darkgray-100);
  text-align: left;
  display: inline-block;
}
.you-can-use1 {
  width: 777px;
  font-size: var(--font-size-sm);
  line-height: 21px;
  text-align: center;
  max-width: 100%;
}
.password,
.use-at-least,
.you-can-use1 {
  color: var(--color-darkgray-100);
  display: inline-block;
}
.password {
  width: 448px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--body-strong-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  text-align: left;
}
.use-at-least {
  width: 645px;
  font-size: var(--font-size-sm);
  line-height: 21px;
  text-align: center;
  max-width: 100%;
}
.confirm-password,
.create-account,
.use-at-least {
  position: relative;
  font-family: var(--font-manrope);
}
.confirm-password {
  width: 448px;
  border: 0;
  outline: 0;
  font-size: var(--body-strong-size);
  background-color: transparent;
  height: 24px;
  line-height: 24px;
  color: var(--color-darkgray-100);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.create-account {
  align-self: stretch;
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--background-default-default);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth-6-frame-015 {
  width: 106px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-4-frame-10,
.depth-5-frame-016 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.depth-5-frame-016 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-xl);
  background-color: var(--color-cornflowerblue);
  width: 480px;
  margin: 0 !important;
  position: absolute;
  top: 14px;
  left: 14px;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-width: 84px;
  max-width: 480px;
}
.depth-4-frame-10 {
  width: 506px;
  height: 64px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  position: relative;
  max-width: 100%;
}
.already-have-an {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-family: var(--font-manrope);
  color: var(--color-darkgray-100);
  text-align: center;
  /* align-self: center;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-family: var(--font-manrope);
  color: var(--color-darkgray-100);
  text-align: center;
  margin-top: 20px;  */
}
.depth-3-frame-04,
.depth-4-frame-14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.depth-4-frame-14 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
}
.depth-3-frame-04 {
  margin: 0;
  width: 960px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 960px;
}
.depth-2-frame-1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
}
.depth-1-frame-0 {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.depth-1-frame-0,
.navigation,
.root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation {
  flex: 1;
  background-color: var(--color-gray-100);
  flex-direction: column;
  max-width: 100%;
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .depth-3-frame-04 {
    max-width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .depth-3-frame-04 {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .depth-4-frame-21,
  .depth-5-frame-016 {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .create-an-account {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
}

.home{
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and scale */
}

.home:hover{
  /* color: #51a5ff; Change color on hover */
  transform: scale(1.02); /* Slightly scale up the element */
  text-underline-offset: 5px;
  text-decoration: underline;
}


.depth-5-frame-016:hover{
  background-color: #71a5f9;
  /* box-shadow: 0 0 0 5px #3b83f65f; */
  color: #fff;
}


.show-password:hover {
  cursor: pointer;
}

.show-password {
  position: relative;
  /* left: -45px; */
  color: var(--color-darkgray-100);
  font-family: var(--font-manrope);
}

.your-name{
  border-radius: 20px;
  padding-top: 20.3px;
  padding-bottom: 20.3px;
  padding-left: 16px;
  /* padding-right: 57.3%; */
}

.youexamplecom{
  border-radius: 20px;
  padding-top: 20.3px;
  padding-bottom: 20.3px;
  padding-left: 16px;
  /* padding-right: 57.3%; */
}

.username{
  border-radius: 20px;
  padding-top: 20.3px;
  padding-bottom: 20.3px;
  padding-left: 16px;
  /* padding-right: 57.3%; */
}

.password{
  border-radius: 20px;
  padding-top: 20.3px;
  padding-bottom: 20.3px;
  padding-left: 16px;
}

.confirm-password{
  border-radius: 20px;
  padding-top: 20.3px;
  padding-bottom: 20.3px;
  padding-left: 16px;
}

.depth-6-frame-010:focus-within{
  outline: 2px solid var(--color-darkgray-100);
}

.depth-6-frame-011:focus-within{
  outline: 2px solid var(--color-darkgray-100);
}

.depth-6-frame-010{
  padding-right: 16px;
}

.depth-6-frame-011{
  padding-right: 16px;
}

.depth-2-frame-01 {
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background and shadow */
}

.depth-2-frame-01.sticky {
  background-color: #121417; /* Background color when sticky */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect when sticky */
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  z-index: 1000; /* Ensure it stays above other content */
}



/* Responsive styles */
@media screen and (max-width: 725px) {
  .home {
      display: none; /* Hide some elements on smaller screens */
  }
  /* Other responsive styles... */
}


label{
  color: var(--color-darkgray-100);
  font-size: 18px;
  font-family: var(--font-manrope);
}





.depth-6-frame-010 input{
  color: white;
  width: 500px;
}
.depth-6-frame-011 input{
  color: white;
  width: 500px;
}