body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
}

.message-card {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.key-icon {
    font-size: 1.5em; 
    padding-right: 10px;
}

.card-header h2 {
    font-size: 18px;
    margin: 0;
    flex-grow: 1;
}

.close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.card-body {
    margin-bottom: 20px;
}

.card-body p {
    margin: 0;
    line-height: 1.5em;
}

.ok-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.ok-button:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .message-card {
        padding: 15px;
    }

    .ok-button {
        padding: 10px;
    }
}