body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
}

.password-card {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-header h2 {
    font-size: 20px;
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.card-body {
    margin-bottom: 20px;
}

.card-body input {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: center;
}

.cancel-button,
.delete-button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #6c757d;
}

.delete-button {
    background-color: #007bff;
}

@media (max-width: 480px) {
    .password-card {
        padding: 15px;
    }

    .cancel-button,
    .delete-button {
        padding: 10px;
    }
}